@import './../../util/constantes.scss';
@import './../../util/styleUtil.scss';

.Parlamentar {
    // height:80px;
    padding: 4px;
    text-align: left;
    &:hover{
        // transition: 1s;
        background: $corHoverListagens;
        // border-radius: 20px;
        border-radius: 9999px;
    }
    .Nome{
        font-weight: bold;
        font-size: 150%;
    }
}

.Senador{
    .FotoListagem {
        @include mix_imagemCortada($corFundoSen, 80px);
    }

}
.Deputado{
    .FotoListagem {
        @include mix_imagemCortada($corFundoDep, 80px);
    }

}