@import './../../util/constantes.scss';
@import './../../util/styleUtil.scss';

.Parlamentar {
    padding: 4px;
    text-align: left;
    // width: 100%;
    // cursor: pointer;
    &:hover{
        // transition: 1s;
        background: $corCinza_1;
    }
    .Nome{
        font-weight: bold;
        font-size: 150%;
    }

    .FotoListagem {
        border-radius: 50%;
        @include mix_imagemCortada($corFundoParlam, 80px);
    }
}