.Parlamentar {
    padding: 16px;
    text-align: left;
    // cursor: pointer;
    &:hover{
        background-color: rgb(201, 216, 248);
    }
}

.circletag {
    display: block;
    width: 80px;
    height: 80px;
    background: #ddd9d2;//#E6E7ED;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    img {
        max-height: 100%;
        max-width: 100%;
    }
}