// ------------------ Tamanhos ------------------
$sm_size : 576px;
// Max container width 540

$md_size : 768px;
// Max container width 720

$lg_size : 992px;
// Max container width 960

$xl_size : 1200px;
// Max container width 1140
// ----------------------------------------------


// ------------------- Cores --------------------
$corCinza_1: #e9e7e7;

$corListagens: #ffffff;
$corHoverListagens: #dfdddd;

$corFundoSen:#ddd9d2;
$corFundoDep:#ffffff;
// $corParlamHover:rgb(232, 237, 250)
// ----------------------------------------------